
        <div class="navi_day">
            <table class="navtab"><tr>
            <td><a href="{{ url_for('routes.user') }}">User</a>  |  </td>
            <td><a href="{{ url_for('routes.index') }}">Home</a>  |  </td>
            <td><a href="{{ url_for('routes.night_view') }}">Night</a>  |  </td>
            <td><a href="{{ url_for('routes.day_view') }}">Day</a>  |  </td>
            <td><a href="{{ url_for('routes.reports') }}">Reports</a>  |  </td>
            <td><a href="{{ url_for('routes.faq') }}">FAQ</a></td>
            </tr>
            </table>
        </div>
    
